.intro__title  {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.02;
    color: inherit;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 540px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
    }
}